<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<%# layoutsで設定したyieldのtitleを使用したい場合、provideを使用する>
<%#>
<%#>
<%#>
<%#>